<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gönderdiğiniz Veriler</title>
</head>
<body>
    <table>
<tr>
    <th>İsim</th>
    <th>Soyad</th>
</tr>
{{veriler.map(v => `<tr><td>${v.ad}</td><td>${v.soyad}</td></tr>`).join("\n")}}

{{#each veriler}}
    <tr><td>{{this["ad"]}}</td><td>{{this["ad"]}}</td></tr><br>
{{/each}}
    </table>
</body>
</html>